@import '@fontsource/work-sans' layer(base);
@import 'github-fork-ribbon-css/gh-fork-ribbon.css' layer(base);

@import 'tailwindcss';
@import './theme.css';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans:
    'Work Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Custom @tailwindcss/typography override: Yellow links */
.prose a {
  @apply text-link no-underline hover:underline;
}

/* Custom @tailwindcss/typography override: Remove code block markers */
.prose code::before,
.prose code::after {
  content: '' !important;
}

.github-fork-ribbon:before {
  @apply bg-zinc-700;
}
