---
import type { IMDX } from '@/types/imdx';

import BlogCard from './BlogCard.astro';

export interface Props {
  postList: IMDX[];
}

const { postList } = Astro.props as Props;
---

<div class="grid grid-cols-1 gap-6 md:grid-cols-3">
  {postList.map((elt) => <BlogCard key={elt.url} instance={elt} />)}
</div>
