---
import type { CollectionEntry } from 'astro:content';

import BlogCard from './BlogCard.astro';

export interface Props {
  postsList: CollectionEntry<'posts' | 'projects'>[];
}

const { postsList } = Astro.props as Props;
---

<div class="grid grid-cols-1 gap-6 md:grid-cols-3">
  {postsList.map((elt) => <BlogCard key={elt.slug} instance={elt} />)}
</div>
