---
import { AppConfig } from '@/utils/AppConfig';

const year = new Date().getFullYear();
const { author } = AppConfig;
---

<div class="border-t border-gray-600 pt-5">
  <div class="text-right text-xs text-zinc-500">
    <p>©{year} {author}. All rights reserved.</p>
  </div>
</div>