---
import { AppConfig } from '~/utils/AppConfig';

import { devDependencies } from '../../../package.json';

const year = new Date().getFullYear();
const { author } = AppConfig;
const copyrightText = `2022-${year} ${author}`;
const astroVersion = devDependencies.astro.replace('^', '');
---

<div class="border-t border-gray-600 pt-5">
  <div class="text-right text-xs text-zinc-500">
    <p>©{copyrightText}, All rights reserved.</p>
    <p>Built with <a href="https://astro.build">Astro v{astroVersion}</a>.</p>
  </div>
</div>