---
import { AppConfig } from '~/config';
import { useTranslations } from '~/i18n/translations';

import { dependencies } from '../../../package.json';

const year = new Date().getFullYear();
const astroVersion = dependencies.astro.replace('^', '');

const { lang = AppConfig.defaultLang } = Astro.params;
const t = useTranslations(lang);

const copyrightText = `2022-${year.toString()} ${t('author.name')}`;
---

<div class="border-border border-t pt-5">
  <div class="text-muted text-xs md:flex md:justify-between">
    <p>©{copyrightText}. {t('footer.rights')}.</p>
    <p>
      {t('footer.built')}
      <a href="https://astro.build">Astro v{astroVersion}</a>.
    </p>
  </div>
</div>
