---
export interface Props {
  icon: string;
}

const { icon } = Astro.props as Props;
---

<div
  class="transform-gpu transition ease-out hover:opacity-75 motion-reduce:transition-none motion-reduce:hover:transform-none"
>
  <div class="size-8 pl-1">
    <Fragment set:html={icon} />
  </div>
</div>
