---
export interface Props {
  name: string;
}

const { name } = Astro.props as Props;
---

<div
  class="flex items-center bg-gradient-to-br from-amber-600 to-amber-300 bg-clip-text text-lg font-bold text-transparent lg:text-xl"
>
  <svg class="mr-1 size-6 stroke-amber-400 lg:size-8" viewBox="0 0 48 48">
    <g id="top">
      <path
        class="top-anim"
        fill="none"
        stroke-miterlimit="10"
        stroke-width="2"
        d="M9.2,22.67V4.26h10.41c3.12,3.12,4.88,4.88,8,8v10.41H9.2z"></path>
    </g>
    <g id="bottom">
      <path
        class="botton-anim"
        fill="none"
        stroke-miterlimit="10"
        stroke-width="2"
        d="M9.2,44.27V27.13h29.38v9.14c-3.12,3.12-4.88,4.88-8,8H9.2z"></path>
    </g>
  </svg>
  {name}
</div>
