---
export interface Props {
  href: string;
}

const { href } = Astro.props as Props;
const currentPathname = Astro.url.pathname;
const pathSegments = href.split('/').filter(Boolean);
const isProjectOrPostPage = pathSegments.includes('projects') || pathSegments.includes('posts');
const isCurrentUrl = isProjectOrPostPage
  ? currentPathname.includes(href)
  : currentPathname === href;
---

<li>
  {
    isCurrentUrl ? (
      <a href={href} class="block rounded px-3 py-2 text-amber-400 md:p-0" aria-current="page">
        <slot />
      </a>
    ) : (
      <a
        href={href}
        class="block rounded border-zinc-700 px-3 py-2 text-white hover:bg-zinc-700 md:p-0 md:hover:bg-transparent md:hover:text-amber-400"
      >
        <slot />
      </a>
    )
  }
</li>
