---
export interface Props {
  href: string;
}

const { href } = Astro.props;
const currentPathname = Astro.url.pathname;
const pathSegments = href.split('/').filter(Boolean);
const isProjectOrPostPage = pathSegments.includes('projects') || pathSegments.includes('posts');
const isCurrentUrl = isProjectOrPostPage
  ? currentPathname.includes(href)
  : currentPathname === href;
---

<li>
  {
    isCurrentUrl ? (
      <a href={href} class="text-link block rounded-sm px-3 py-2 md:p-0" aria-current="page">
        <slot />
      </a>
    ) : (
      <a
        href={href}
        class="border-border text-foreground hover:bg-accent md:hover:text-link block rounded-sm px-3 py-2 md:p-0 md:hover:bg-transparent"
      >
        <slot />
      </a>
    )
  }
</li>
