---
import type { Page } from 'astro';

export interface Props {
  page: Page;
}
---

<div class="flex justify-center gap-8">
  {Astro.props.page.url.prev && (
    <a href={Astro.props.page.url.prev} target="_self">← Newer Posts</a>
  )}
  {Astro.props.page.url.next && (
    <a href={Astro.props.page.url.next} target="_self">Older Posts →</a>
  )}
</div>
