---
import type { CollectionEntry } from "astro:content";

import { AppConfig } from "~/config";
import { useTranslations } from "~/i18n/translations";
import { formatDate } from "~/utils/dates";

export interface Props {
  post: CollectionEntry<"posts">;
  author: string;
}

const { post, author } = Astro.props as Props;
const { lang = AppConfig.defaultLang } = Astro.params;

const t = useTranslations(lang);

const formattedDate = `${t("posts.by")} ${author} ${t("posts.on")} ${formatDate(post.data.pubDate, lang)}`;
---

<h1 class="text-center text-3xl font-bold">{post.data.title}</h1>

<div class="mt-2 text-center text-sm text-gray-400">
  {formattedDate}
</div>
