---
import { Image } from 'astro:assets';

const { content } = Astro.props;
---

<div class="mx-auto mt-5 max-w-prose">
  <div class="aspect-h-2 aspect-w-3 rounded-lg object-cover object-center">
    {typeof content.img.src === 'string' && (content.img.src as string).includes('svg') ? (
      <img src={content.img.src} alt={content.imgAlt} />
    ) : (
      <Image
        class="h-full w-full object-cover object-center"
        src={content.img.src}
        alt={content.imgAlt}
        format="webp"
        width={800}
        height={533}
      />
    )}
  </div>

  <div class="prose prose-invert mt-8 prose-img:rounded-lg">
    <slot />
  </div>
</div>
