---
import type { CollectionEntry } from 'astro:content';

import { formatDate } from '@/utils/dates';

export interface Props {
  post: CollectionEntry<'posts'>;
  author: string;
}

const { post, author } = Astro.props as Props;
const formattedDate = post.data.pubDate
  ? ` on ${formatDate(new Date(post.data.pubDate))}`
  : '';
---

<>
  <h1 class="text-center text-3xl font-bold">{post.data.title}</h1>

  <div class="mt-2 text-center text-sm text-gray-400">
    By {author}{formattedDate}
  </div>
</>
