<div class="mx-auto max-w-screen-lg px-3 py-6">
  {
    Astro.slots.has('title') && (
      <div class="mb-6 text-2xl font-bold">
        <slot name="title" />
      </div>
    )
  }
  <slot />
</div>
