---
import type { CollectionEntry } from 'astro:content';

import { AppConfig } from '~/config';
import { useTranslations } from "~/i18n/translations";
import PostContent from '~/partials/astro-components/PostContent.astro';
import PostHeader from '~/partials/astro-components/PostHeader.astro';
import Section from '~/partials/astro-components/Section.astro';

interface Props {
  post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;
const { lang = AppConfig.defaultLang } = Astro.params;

const t = useTranslations(lang);
---

<Section>
  <PostHeader {post} author={t("author.name")} />

  <PostContent {post}>
    <slot />
  </PostContent>
</Section>
