---
import PostContent from '@/partials/astro-components/PostContent.astro';
import PostHeader from '@/partials/astro-components/PostHeader.astro';
import Section from '@/partials/astro-components/Section.astro';
import type { IMDX } from '@/types/imdx';
import { AppConfig } from '@/utils/AppConfig';

const { content } = Astro.props as { content: IMDX };
---

<Section>
  <PostHeader content={content} author={AppConfig.author} />

  <PostContent content={content}>
    <slot />
  </PostContent>
</Section>
