---
import type { CollectionEntry } from 'astro:content';

import PostContent from '@/partials/astro-components/PostContent.astro';
import PostHeader from '@/partials/astro-components/PostHeader.astro';
import Section from '@/partials/astro-components/Section.astro';
import { AppConfig } from '@/utils/AppConfig';

interface Props {
  post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;
---

<Section>
  <PostHeader {post} author={AppConfig.author} />

  <PostContent {post}>
    <slot />
  </PostContent>
</Section>
