---
import FooterRights from '@/partials/astro-components/FooterRights.astro';
import Section from '@/partials/astro-components/Section.astro';
import { AppConfig } from '@/utils/AppConfig';
---

<Section>
  <FooterRights since={AppConfig.since} />
</Section>
