---
import { AppConfig } from '~/config';
import FooterRights from '~/partials/astro-components/FooterRights.astro';
import Section from '~/partials/astro-components/Section.astro';
---

<Section>
  <FooterRights since={AppConfig.since} />
</Section>
