---
import type { CollectionEntry } from 'astro:content';

import BlogGallery from '@/partials/astro-components/BlogGallery.astro';
import GradientText from '@/partials/astro-components/GradientText.astro';
import Section from '@/partials/astro-components/Section.astro';

export interface Props {
  postList: CollectionEntry<'post'>[];
}

const { postList } = Astro.props as Props;
---

<Section>
  <div slot="title" class="flex items-baseline justify-between">
    <div>
      Recent <GradientText>Posts</GradientText>
    </div>

    <div class="text-sm">
      <a href="/posts" target="_self" class="text-zinc-200 hover:underline">
        View all Posts →
      </a>
    </div>
  </div>
  <BlogGallery postList={postList} />
</Section>
