---
import type { CollectionEntry } from 'astro:content';

import { AppConfig } from '~/config';
import { useTranslations } from '~/i18n/translations';
import BlogGallery from '~/partials/astro-components/BlogGallery.astro';
import GradientText from '~/partials/astro-components/GradientText.astro';
import Section from '~/partials/astro-components/Section.astro';

export interface Props {
  postsList: CollectionEntry<'posts'>[];
}

const { postsList } = Astro.props;
const { lang = AppConfig.defaultLang } = Astro.params;
const t = useTranslations(lang);
---

<Section>
  <div slot="title" class="flex items-baseline justify-between">
    <div>
      {t('home.recentPosts')}
      <GradientText>{t('nav.posts')}</GradientText>
    </div>

    <div class="text-sm">
      <a href={`/${lang}/posts/`} target="_self" class="text-zinc-200 hover:underline">
        {t('home.recentPosts.viewAll')} →
      </a>
    </div>
  </div>
  <BlogGallery postsList={postsList} />
</Section>
